{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "selector-combinator-space-after": null,
    "selector-combinator-space-before": null,
    "selector-type-no-unknown": null,
    "property-no-vendor-prefix": null,
    "declaration-no-important": true,
    "indentation": [
      2,
      {
        "ignore": [
          "inside-parens"
        ]
      }
    ],
    "at-rule-no-unknown": null
  }
}
