.catalog-production__list-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-production__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: 29px 0 14px;

  @media (min-width: $table-width) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }

  @media (min-width: $desktop-width) {
    margin: 29px 0 20px;
  }
}

.catalog-production {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog-production__title {
  position: relative;
  padding: 30px 41px 16px 20px;
  margin: 0;
  color: $standard-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  @media (min-width: $table-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 33px 41px 16px 30px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 41px 16px 0;
  }
}

.catalog-production__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $table-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    column-gap: 40px;
    row-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    column-gap: 80px;
    row-gap: 45px;
    margin: 0;
    padding: 0;
  }
}

.catalog-production__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px 0 0;

  &:first-child::before {
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    height: 1px;
    top: 23px;
  }

  &::after {
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    bottom: -25px;
  }


  @media (min-width: $table-width) {
    margin: 0 10px 0;
    padding: 0 37px 39px;
    background: linear-gradient($standard-white 100px, $card-color 100px);

    &:first-child::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 16px 38px 43px;
    margin: 0;
  }
}

.catalog-production__item-more {
  padding: 0;
  margin: 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $table-width) {
    outline: 2px solid $card-color;
    background: $standard-white;
    margin: 103px 12px 0 11px;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 35px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 0 0 0;
    padding: 48px 38px 0;
    min-height: 0;
  }
}

.catalog-production__link-more {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/catalog/plus-more.svg");
  cursor: pointer;
  margin: 0 auto;

  @media (min-width: $table-width) {
    background-image: url("../img/catalog/plus-table.svg");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.catalog-production__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;

  @media (min-width: $table-width) {
    width: 200px;
    height: 210px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    height: 172px;
  }
}

.catalog-production__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 100px;

  @media (min-width: $table-width) {
    width: 168px;
    height: 206px;
    box-sizing: border-box;
  }
}

.catalog-production__image-low {
  @media (min-width: $table-width) {
    padding: 14px 3px;
  }
}

.catalog-production__info {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 50%;

  @media (min-width: $table-width) {
    width: 100%;
  }
}

.catalog-production__item-title {
  margin: 3px 42px 0 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 20px 53px 5px;

    &:hover,
    :focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 30px 5px 12px;
  }
}

.catalog-production__item-title--more {
  margin: 24px 0 0;

  @media (min-width: $table-width) {
    margin: 48px 40px 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 0 16px;
  }
}

.catalog-production__table {
  color: $charcoal-color;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
  }
}

.catalog-production__table-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.catalog-production__item-description-more {
  position: relative;
  color: $charcoal-color;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 8px 0 21px;

  @media (min-width: $table-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 8px 20px 82px;
  }

  @media (min-width: $desktop-width) {
    margin: 9px auto 93px;
  }
}

/*Buttons*/
.catalog-production__button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: $standard-white;
  background-color: $base-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 20px;

  @media (min-width: $desktop-width) {
    padding: 8px 26px;
    height: auto;

    &:hover {
      background-color: $hover-button;
    }

    &:active {
      opacity: 0.3;
      background-color: $hover-button;
    }
  }
}

.catalog-production__button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $charcoal-color;
  background-color: $card-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $hover-second-button;
  }

  &:active {
    opacity: 0.3;
    background-color: $hover-second-button;
  }
}
