.catalog-additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 87px 0;
    column-gap: 79px;
  }
}

.catalog-additional__item-wrapper {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
}

.catalog-additional {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;

  &::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid $apple-color;
    width: 100%;
    left: 0;
    top: 64px;
  }

  @media (min-width: $table-width) {
    padding: 0 30px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 95px;
      right: -30px;
      border-bottom: 2px solid $apple-color;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 111px;

    &::before {
      top: 96px;
    }
  }
}

.catalog-additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-additional__title {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  line-height: 24px;
  margin: 24px -20px 49px;
  text-align: start;
  z-index: 2;
  background-color: $standard-white;
  padding: 0 0 0 20px;
  max-width: 246px;

  @media (min-width: $table-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 74px 0 80px;
    padding-left: 40px;
    background-color: $standard-white;
    max-width: 378px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 73px 0 79px -41px;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-additional__item {
  position: relative;
  min-height: 130px;

  &::after {
    border-bottom: 1px solid $special-grey;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 14px;
  }

  &:first-child::before {
    border-bottom: 1px solid $special-grey;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    height: 1px;
    width: 100%;
    top: -15px;
  }

  @media (min-width: $table-width) {
    border: 1px solid $special-grey;
    padding: 23px 37px 27px;
    min-height: auto;

    &::after {
      display: none;
    }

    &:first-child::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    outline: none;
    border-bottom: 1px solid $special-grey;
    border: none;
    align-items: center;

    &::before {
      border-bottom: 1px solid $special-grey;
      position: absolute;
      display: block;
      flex-grow: 1;
      content: "";
      height: 1px;
      width: 100%;
      top: -2px;
    }

    &:last-child::after {
      border-bottom: 1px solid $special-grey;
      position: absolute;
      display: block;
      flex-grow: 1;
      content: "";
      height: 1px;
      width: 100%;
      bottom: -1px;
    }
  }
}

.catalog-additional__list-title {
  color: $standard-black;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 auto 10px 0;

  @media (min-width: $table-width) {
    margin: 0 80px 0 0;
    min-width: 200px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 123px 0 0;
  }
}

.catalog-additional__item-table {
  color: $charcoal-color;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 11px;

  @media (min-width: $table-width) {
    margin: 0;
  }
}

.catalog-additional__description {
  color: $charcoal-color;
  display: flex;
  justify-content: space-between;
  min-width: 280px;

  @media (min-width: $table-width) {
    display: flex;
    min-width: 0;
    font-family: "Lato", "Arial", sans-serif;
    font-display: swap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    min-width: 323px;
    margin-top: 4px;
  }
}

.catalog-additional__description-item {
  @media (min-width: $table-width) {
    min-width: 90px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    min-width: 79px;
    text-align: start;
  }
}

.catalog-additional__gift {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: rgba($base-color, 0.85);
  color: $standard-white;
  text-align: center;
  padding: 186px 61px 44px 58px;
  margin: 21px 0 10px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/catalog/image-1.jpg");
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/image-1@2x.jpg");
      background-size: contain;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 85px;
    background-image: url("../img/catalog/icon-gift.svg");
    background-repeat: no-repeat;

    @media (min-width: $table-width) {
      left: 118px;
    }
  }

  @media (min-width: $table-width) {
    display: flex;
    background-color: rgba($base-color, 0.85);
    align-content: center;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 122px 0 420px;
    margin: 70px 0 75px;
    justify-content: flex-end;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/catalog/image-2.jpg");
      background-size: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/image-2@2x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/catalog/image-1.jpg");
      background-size: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/image-1@2x.jpg");
        background-size: cover;
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 96px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 78px;
      height: 80px;
      background-image: url("../img/catalog/icon-gift.svg");
      background-repeat: no-repeat;
    }
  }
}

.catalog-additional__gift-title {
  color: $standard-white;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media (min-width: $table-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 42px 43px;
    text-align: center;
    min-width: 162px;
  }
}

/*Buttons*/

.catalog-additional__button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: $standard-white;
  background-color: $base-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 20px;

  @media (min-width: $desktop-width) {
    min-width: 244px;

    &:hover {
      background-color: $hover-button;
    }

    &:active {
      opacity: 0.3;
      background-color: $hover-button;
    }
  }
}
