.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 40px 20px;
  background-color: $card-color;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 58px 29px 56px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 68px 110px 66px;
  }
}

.main-footer__logo-link {
  position: relative;
  display: block;
  min-width: 128px;
  height: 24px;
  justify-content: center;
  align-items: center;
  color: $shade-black;

  &::after {
    border-bottom: 1px solid $special-grey;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    height: 1px;
    width: calc(100% + 152px);
    bottom: -20px;
    left: -76px;
  }

  @media (min-width: $table-width) {
    &::after {
      display: none;
    }

    &:hover {
      color: $hover-logo;
    }

    &:active {
      color: $active-logo;
    }
  }
}

.main-footer__social {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &::after {
    border-bottom: 1px solid $special-grey;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    height: 1px;
    width: calc(100% + 152px);
    bottom: -19px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @media (min-width: $table-width) {
    margin-left: 36px;

    &::after {
      display: none;
    }
  }
}

.main-footer__social-list {
  display: flex;
  min-width: 132px;
  min-height: 22px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-footer__social-link {
  display: block;
  width: 28px;
  height: 22px;
  color: $charcoal-color;

  &:hover {
    color: $base-color;
  }

  &:active {
    color: $base-color;
    opacity: 0.3;
  }
}

.main-footer__social-icon {
  display: block;
  color: inherit;
}

.main-footer__academy {
  width: 100%;

  @media (min-width: $table-width) {
    min-width: 164px;
    width: auto;
  }
}

.main-footer__academy-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-footer__academy-link {
  position: relative;
  display: flex;
  color: $charcoal-color;
  font-family: "Lato", "Arial", sans-serif;
  font-display: swap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;

  &:hover {
    opacity: 0.6;
  }

  &:hover svg {
    color: $base-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__academy-logo {
  width: 27px;
  height: 34px;
  color: $charcoal-color;

  @media (min-width: $table-width) {
    position: static;
  }
}
