@import "./../common/color";
@import "../common/variables";

//With JS
.main-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 63px;
  padding: 0 20px 0 20px;
  background-color: $standard-white;
  align-items: center;

  &--nojs {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;

    @media (min-width: $table-width) {
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 34px 30px 30px;
      position: relative;
    }

    @media (min-width: $desktop-width) {
      padding: 55px 110px;
    }
  }

  @media (min-width: $table-width) {
    display: flex;
    padding: 25px 34px 19px 30px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 110px;
  }
}

.main-header--hero-bg {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      display: flex;
      right: 0;
      transform: none;
      left: revert;
      width: 50%;
      height: 694px;
      top: 0;
      background-image: url("../img/hero-block/index-background-desktop-1.jpg");
      background-repeat: no-repeat;
      z-index: 1;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        content: "";
        background-image: url("../img/hero-block/index-background-desktop-1@2x.png");
        background-size: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: flex;
      right: 0;
      background-color: $apple-color;
      z-index: 2;
      width: 50%;
      height: 694px;
      top: 0;
    }
  }
}

.main-header--no-background {
  &::before {
    display: none;
  }

  &::after {
    border-bottom: 1px solid $gainsboro-color;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
  }

  @media (min-width: $table-width) {
    &::after {
      display: none;
    }
  }
}

.main-header__logo {
  display: flex;
  flex-direction: row;
  color: $standard-black;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nojs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 11px 20px;
    position: relative;
    min-width: 280px;
  }

  @media (min-width: $table-width) {
    padding: 0;
    position: initial;

    &__nojs {
      min-width: 267px;
    }
  }

  @media (min-width: $table-width) {
    width: auto;
  }
}

.main-header__logo-image {
  @media (min-width: $table-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__icon-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $table-width) {
    display: flex;
    position: absolute;
    left: 153px;
    top: 50px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 23px;
    left: 252px;
    top: 84px;
  }
}

.main-header__toggle {
  background-image: url("../img/header/Header-nav-close.svg");
  background-repeat: no-repeat;
  border: none;
  width: 25px;
  height: 24px;
  background-color: $standard-white;
  cursor: pointer;

  &--open {
    background-image: url("../img/header/header-nav-close.svg");
  }

  &--nojs {
    display: none;
  }

  @media (min-width: $table-width) {
    display: none;
    cursor: default;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

//CSS Menu
// .main-header__toggle:focus,
// .main-header__toggle:active {
//   background-image: url("../img/header/header-nav-close.svg");
// }


// .main-header__toggle:active~.site-list--hidden,
// .main-header__toggle:focus~.site-list--hidden {
//   display: block;
// }
