.main-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $standard-white;

  @media (min-width: $table-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    z-index: 3;
  }
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__list-link {
  color: $standard-black;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__toggle--open {
  background-image: url("../img/header/header-nav-open.svg");
}

.main-nav__toggle {
  background-image: url("../img/header/Header-nav-close.svg");
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  background-color: $standard-white;
  cursor: pointer;

  @media (min-width: $table-width) {
    display: none;
    cursor: default;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle:focus,
.main-nav__toggle:active {
  background-image: url("../img/header/header-nav-open.svg");
}


.main-nav__toggle:active~.site-list--hidden,
.main-nav__toggle:focus~.site-list--hidden {
  display: none;
}
