@import "./../common/color";
@import "../common/variables";

.main-header {
  //With JS
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 63px;
  padding: 0 20px 0 20px;
  background-color: $standard-white;
  align-items: center;

  @media (min-width: $table-width) {
    display: flex;
    padding: 19px 34px 25px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

// .main-header--nojs {
//   padding: 0 20px;
//   width: 100%;

//   @media (min-width: $table-width) {
//     display: flex;
//     padding: 19px 34px 25px 30px;
//   }

//   @media (min-width: $desktop-width) {
//     padding: 55px 110px;
//   }
// }

.main-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $table-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 34px 19px 10px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

.main-header--hero-bg {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      display: flex;
      right: 0;
      transform: none;
      left: revert;
      width: 50%;
      height: 694px;
      top: 0;
      background-image: url("../img/hero-block/index-background-desktop-1.jpg");
      background-repeat: no-repeat;
      z-index: 1;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        content: "";
        background-image: url("../img/hero-block/index-background-desktop-1@2x.jpg");
        background-size: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: flex;
      right: 0;
      background-color: $apple-color;
      z-index: 2;
      width: 50%;
      height: 694px;
      top: 0;
    }
  }
}

.main-header--no-background {
  &::before {
    display: none;
  }

  &::after {
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    display: block;
    flex-grow: 1;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
  }

  @media (min-width: $table-width) {
    &::after {
      display: none;
    }
  }
}

.main-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 15px 10px 20px;
  align-items: center;

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.main-header__logo {
  display: flex;
  flex-direction: row;
  color: $standard-black;
}

.main-header__logo-image {
  @media (min-width: $table-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__icon-logo {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $table-width) {
    display: flex;
    position: absolute;
    left: 154px;
    top: 47%;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 23px;
  }
}
