.main-form__button {
  display: flex;
  justify-content: center;
  min-height: 40px;
  padding: 14px 44px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: $base-color;
  border: none;
  cursor: pointer;
  color: $standard-white;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;

  @media (min-width: $table-width) {
    margin: 0;
    width: 50%;
  }
}

.catalog__production-button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: $standard-white;
  background-color: $base-color;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 20px;

  @media (min-width: $desktop-width) {
    padding: 8px 26px;
    height: auto;
  }
}

.catalog__production-button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $charcoal-color;
  background-color: $card-color;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;
}

.catalog-addiction__button {
  @media (min-width:$desktop-width) {
    min-width: 244px;
    padding: 10px 0;
  }

}
