.main-form__button {
  display: flex;
  justify-content: center;
  min-height: 40px;
  padding: 14px 44px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  background-color: $base-color;
  border: none;
  cursor: pointer;
  color: $standard-white;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
  width: 100%;

  &:hover {
    background-color: $hover-button;
  }

  &:active {
    opacity: 0.3;
    background-color: $hover-button;
  }

  @media (min-width: $table-width) {
    margin: 0;
    width: 50%;
  }
}

.main-form__button--second {
  padding: 10px 44px;

  @media (min-width:$table-width) {
    padding: 14px 60px;
    width: 42%;
    margin: 0 0 0 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
  }

  @media (min-width:$desktop-width) {
    width: 47%;
    margin: 0;
  }
}

.catalog-production__button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: $standard-white;
  background-color: $base-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 20px;

  @media (min-width: $desktop-width) {
    padding: 8px 26px;
    height: auto;

    &:hover {
      background-color: $hover-button;
    }

    &:active {
      opacity: 0.3;
      background-color: $hover-button;
    }
  }
}

.catalog-production__button--more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $charcoal-color;
  background-color: $card-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $hover-second-button;
  }

  &:active {
    opacity: 0.3;
    background-color: $hover-second-button;
  }
}

.catalog-additional__button {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: $standard-white;
  background-color: $base-color;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 20px;

  @media (min-width: $desktop-width) {
    min-width: 244px;

    &:hover {
      background-color: $hover-button;
    }

    &:active {
      opacity: 0.3;
      background-color: $hover-button;
    }
  }
}

.example__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 100%;
  background-color: unset;
  color: $slider-gray;
  border: none;
  cursor: pointer;
  z-index: 102;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 100%;
    background-color: $slider-gray;
    border-radius: 2px;
  }

  @media (min-width:$table-width) {
    &:hover::before {
      background-color: $base-color;
    }

    &:active::before {
      opacity: 0.6;
    }
  }

  @media (min-width:$desktop-width) {
    &::before {
      height: 91%;
    }
  }
}
