@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff");
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff");
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff");
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.woff2");
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
