/* input text */

.main-form__input-name {
  position: relative;
  display: flex;
  align-items: center;
  color: $charcoal-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  gap: 13px;
  min-height: 45px;
  margin: 0;
  width: 100%;
  height: 18px;
  white-space: nowrap;

  @media (min-width: $table-width) {
    font-size: 20px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 87%;
  }
}

.input {
  color: $charcoal-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  border: none;
  outline: 1px solid $border-color;
  padding: 15px 0 15px 15px;
  -moz-appearance: textfield;
  cursor: pointer;

  @media (min-width:$table-width) {
    margin-right: 31px;
    font-size: 20px;
    padding: 10px 0 10px 20px;

    &:hover {
      outline-color: $special-grey;
    }

    &:focus-visible {
      outline: 2px solid $charcoal-color;
    }
  }

  @media (min-width:$desktop-width) {
    margin-right: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* input invalid
.main-form__input-invalid {
  outline-color: $error-color;
}
*/

/* Radio */
.control-label {
  color: $nero-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width:$table-width) {
    font-size: 20px;
    color: $charcoal-color;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.control {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;

  @media (min-width:$table-width) {
    padding-left: 60px;

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width:$desktop-width) {
    padding-left: 53px;
  }
}

.control-addiction {
  @media (min-width:$desktop-width) {
    padding-left: 60px;
  }
}

/*.control-addiction:hover+.control-mark-ckeckbox {
  &:hover {
    outline: 1px solid #bababa;
  }
}*/

.control:hover+.control-mark-ckeckbox {
  &:hover {
    outline: 1px solid #80bdff;
  }
}

/* Mark */
.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  outline: solid 1px $special-grey;
  cursor: pointer;

  &:hover {
    outline-color: $radio-outline;
  }

  @media (min-width:$table-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width:$desktop-width) {
    left: -7px;
  }
}

input[type="radio"]~.control-mark {
  border-radius: 50%;
}

input[type="radio"]:checked~.control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: $base-color;
  border-radius: 50%;

  @media (min-width:$table-width) {
    width: 18px;
    height: 18px;
  }
}

.control-mark-ckeckbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 29px;
  outline: solid 1px $special-grey;
  cursor: pointer;

  @media (min-width:$table-width) {
    width: 40px;
    height: 40px;
  }
}

input[type="checkbox"]:checked~.control-mark-ckeckbox::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("../../img/input/tick.svg");
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.main-form__program-owner-input {
  position: relative;
}

.main-form__program-owner-email {
  position: absolute;
  top: 50%;
  left: calc(100% - 32px);
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  mask-image: url("../../img/input/icon-email.svg");
  mask-repeat: no-repeat;
  background-color: $standard-black;

  @media (min-width:$table-width) {
    left: calc(100% - 70px);

    &:active {
      background-color: $base-color;
    }
  }

  @media (min-width:$desktop-width) {
    left: calc(100% - 36px);
  }
}

.input:focus-visible+.main-form__program-owner-email {
  background-color: $base-color;
}

.input:valid+.main-form__program-owner-email {
  background-color: $error-color;
}

.main-form__program-owner-phone {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 32px);
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  mask-image: url("../../img/input/icon-phone.svg");
  mask-repeat: no-repeat;
  background-color: $standard-black;

  @media (min-width:$table-width) {
    left: calc(100% - 70px);

    &:active {
      background-color: $base-color;
    }
  }

  @media (min-width:$desktop-width) {
    left: calc(100% - 36px);
  }
}

.input:focus-visible+.main-form__program-owner-phone {
  background-color: $base-color;
}

.input:valid+.main-form__program-owner-phone {
  background-color: $error-color;
}

.main-form__comments-input {
  min-height: 135px;
  margin-bottom: 10px;
  padding: 16px 0 0;
  width: 100%;
  text-align: center;


  @media (min-width: $table-width) {
    margin: 9px 0 66px 16px;
    width: 90%;
    text-align: start;
    padding: 17px 0px 21px 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px 100px 24px 21px;
    text-align: start;
    align-items: start;
  }
}

.main-form__input-important {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    column-gap: 58px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    column-gap: 74px;
  }
}
