/* input text */

.main-form__input-name {
  display: flex;
  align-items: center;
  color: $charcoal-color;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  gap: 13px;
  min-height: 45px;
  margin: 0;
  width: 100%;
  height: 18px;
  white-space: nowrap;

  @media (min-width: $table-width) {
    font-size: 20px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.input {
  color: $charcoal-color;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  border: none;
  outline: 1px solid $border-color;
  padding: 14px 0 13px 15px;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Radio */
.control-label {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.control {
  position: relative;
  display: block;
  padding-left: 45px;
  cursor: pointer;
}

/* Mark */
.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  outline: solid 1px $special-grey;
  cursor: pointer;
}

input[type="radio"]~.control-mark {
  border-radius: 50%;
}

input[type="radio"]:checked~.control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: $base-color;
  border-radius: 50%;
}

.control-mark-ckeckbox {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  outline: solid 1px $special-grey;
  cursor: pointer;
}

input[type="checkbox"]:checked~.control-mark-ckeckbox::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("../img/input/tick.svg");
}

.main-form__program-owner-input {
  content: "";
  background-image: url("../../img/input/email.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
}

.main-form__program-owner-phone {
  content: "";
  background-image: url("../../img/input/phone.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
}

.main-form__comments-input {
  display: block;
  justify-content: center;
  align-items: start;
  min-height: 150px;
  margin-bottom: 23px;
  padding: 14px 0 0 0;
  width: 100%;
  text-align: center;

  @media (min-width: $table-width) {
    margin: 87px 0 65px 0;
    width: 100%;
    height: 175px;
    text-align: start;
    padding-top: 11px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 9px 10px;
    text-align: start;
    align-items: start;
  }
}

.main-form__input-important {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    column-gap: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}
