.main-wrapper {
  margin: 0 auto;
  background-color: $standard-white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.meal-plan__wrapper {
  padding: 30px 33px 22px 20px;

  @media (min-width: $table-width) {
    padding: 77px 63px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 77px 61px 59px 52px;
  }
}

.meal-work__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 43px;
  }

}

.example-result__number-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $table-width) {
    flex-direction: row;
  }

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__wrapper {
  padding: 20px 20px;
  background-color: $example-bg;
  margin-left: calc((100vw / 2 - 100% / 2) * -1);
  margin-right: calc((100vw / 2 - 100% / 2) * -1);

  @media (min-width: $table-width) {
    padding: 0 30px 0 30px;
    background: linear-gradient($standard-white 619px, $example-bg 619px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient($standard-white 136px, $example-bg 136px);
    width: 100%;
    column-gap: 224px;
  }
}

.example__result-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $table-width) {
    flex-direction: column;
    justify-content: center;
    row-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
  }
}

.cooperate__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 15px;
  font-weight: 400;
  line-height: 20px;
  min-height: 112px;

  @media (min-width: $table-width) {
    padding: 60px 70px;
    column-gap: 308px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 78px 60px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    justify-content: center;
    column-gap: 87px;
    background-color: $standard-white;
    box-sizing: border-box;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 40px 20px;
  background-color: $card-color;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 66px 110px;
  }
}

.main-form__program-wrapper {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    align-items: end;
  }
}

.main-catalog__wrapper {
  padding: 0 20px;
}

.catalog__production-list-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__production__item-wrapper {
  display: flex;
  min-height: 190px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  flex-shrink: 0;

  @media (min-width: $table-width) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.catalog-additional__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 87px 0;
  }
}

.catalog-additional__item-wrapper {
  @media (min-width: $table-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin: 0;
  }
}

.main-form__input-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
  }
}
